<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{__lang("sensors", "title")}}</h1>
</div>
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">{{__lang("sensors", "temperature")}}</div>
            <div class="h1 mb-0 text-gray-800" id="temperature">-</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-thermometer-half fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">{{__lang("sensors", "pressure")}}</div>
            <div class="h1 mb-0 text-gray-800" id="pressure">-</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-tachometer-alt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">{{__lang("sensors", "humidity")}}</div>
            <div class="h1 mb-0 text-gray-800" id="humidity">-</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-tint fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">{{__lang("sensors", "heel")}}</div>
            <div class="h1 mb-0 text-gray-800" id="heel">-</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-ship fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
if(Object.keys(intervals).length == 0) { 
  for (var c in sensors) {
    intervals[c] = setInterval(updateSensor, sensors[c], c);
  }
}
</script>
