<div class="modal fade " id="modulesSavedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{__lang("settings", "changes_saved")}}</h5>
            </div>
            <div class="modal-body">
                {{__lang("settings", "changes_saved_desc")}}
            </div>
            <div class="modal-footer">
                <a href="/reboot" class="btn btn-secondary">{{__lang("settings", "restart_device")}}</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{__lang("settings", "title")}}</h1>
</div>
<div id="scroll">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <h4>{{__lang("settings", "logbook")}}</h4>
            <div class="select-box">
                <label>{{__lang("settings", "logbookfrequency")}}</label>
                <select class="wide" name="logFreq" id="logFreq">
                    <option value="1">{{__lang("settings", "freq_minute")}}</option>
                    <option value="5">5 {{__lang("settings", "freq_minutes")}}</option>
                    <option value="10">10 {{__lang("settings", "freq_minutes")}}</option>
                    <option value="15">15 {{__lang("settings", "freq_minutes")}}</option>
                    <option value="30">30 {{__lang("settings", "freq_minutes")}}</option>
                    <option value="45">45 {{__lang("settings", "freq_minutes")}}</option>
                    <option value="60">{{__lang("settings", "freq_hour")}}</option>
                </select>
            </div>
            <p></p>
            <h4>{{__lang("settings", "station")}}</h4>
            <div class="box">
                <label>
                    {{__lang("settings", "brightness")}}
                </label>
                <div class="slidecontainer">
                    <input type="range" min="15" max="255" value="{{get_config("general", "brightness")}}"
                        class="slider" id="brightness">
                </div>
            </div>
            <p></p>
            <div class="select-box">
                <label>{{__lang("settings", "temperatureunit")}}</label>
                <select class="wide" name="temperatureUnit" id="temperatureUnit">
                    <option value="C">°C</option>
                    <option value="F">°F</option>
                </select>
            </div>
            <div class="select-box">
                <label>{{__lang("settings", "language")}}</label>
                <select class="wide" name="language" id="language">
                    {%for lang in get_languages()%}
                    <option value="{{lang}}">{{lang}}</option>
                    {%endfor%}
                </select>
            </div>
            <p></p>
            <h4>{{__lang("settings", "modules")}}</h4>
            {%for module in moduleList.items() %}
            <div class="select-box">
                <label>
                    {{__lang("modules", module[0])}}
                </label>
                <select class="wide module" name="{{module[0]}}">
                    {%for m in moduleList[module[0]] %}
                    <option{%if m == get_config("modules", module[0]) %} selected{%endif%}>{{m}}</option>
                        {%endfor%}
                </select>
            </div>
            {%endfor%}
            <p></p>
            <button class="btn btn-secondary btn-md" id="save-modules">
                {{__lang("settings", "save_modules")}}
            </button>
            <p></p>
        </div>
    </div>
    <hr>
    <p class="text-uppercase font-weight-light">{{__lang("settings", "device_info")}}</p>
    <blockquote class="blockquote">
        <p class="mb-0"><strong>Statkowa stacja meteorologiczna w oparciu o mikrokomputer Raspberry Pi</strong></p>
        <p>Dorian Wysocki &nbsp; <img src="img/umg.png" style="height:2em; width:auto;" /> &nbsp; <cite>Uniwersytet
                Morski w Gdyni</cite></p>
        {%if ssid%}
        <p class="text-success"><i class="fas fa-wifi"></i> {{__lang('settings', 'internet_connected')}} <strong>{{ssid}}</strong></p>
        {%else%}
        <p class="text-danger"><i class="fas fa-wifi"></i> {{__lang('settings', 'internet_fail')}}</p>
        {%endif%}
        <a href="/close" class="btn btn-outline-primary btn-sm text-uppercase">
            {{__lang("settings", "service_mode")}}
        </a>
    </blockquote>
</div>
<script>
    $('select').niceSelect();

    var brightness = document.getElementById("brightness");

    function setBrightness(value) {
        brightness.value = value;
    }

    $("#save-modules").click(function () {
        var modules = {};
        $(".module").each(function (index) {
            if ($(this).val() != '') {
                modules[$(this).attr("name")] = $(this).val();
            }
        });
        const http = new XMLHttpRequest()
        http.open('POST', 'save-modules')
        http.setRequestHeader('Content-type', 'application/json')
        http.send(JSON.stringify(modules));
        http.onload = function () {
            $('#modulesSavedModal').modal('show');
        }
    });

    $("#logFreq").val("{{get_config('general', 'logbookFrequency')}}").change();
    $('#logFreq').niceSelect('update');

    $("#temperatureUnit").val("{{get_config('general', 'temperatureUnit')}}").change();
    $('#temperatureUnit').niceSelect('update');

    $("#language").val("{{get_config('general', 'language')}}").change();
    $('#language').niceSelect('update');

    $("#logFreq").on("change", function (event, ui) {
        var newFreq = $(this).val();
        if (newFreq >= 1) {
            logbookFrequency = newFreq;
            ajax_get('set-logbook-frequency/' + newFreq);
        }
    });

    $("#temperatureUnit").on("change", function (event, ui) {
        var newUnit = $(this).val();
        if (newUnit == "F" || newUnit == "C") {
            temperatureUnit = newUnit;
            ajax_get('set-temperature-unit/' + newUnit);
        }
    });

    $("#language").on("change", function (event, ui) {
        var newLang = $(this).val();
        ajax_get('set-language/' + newLang, function (response) {
            var scroll = $("#scroll").scrollTop();
            $.get("/", function (data) {
                document.open();
                document.write(data);
                document.close();
                setTimeout(function () {
                    $('#scroll').animate({
                        scrollTop: scroll
                    }, 1)
                }, 500);
            }, "text");
        });

    });

    $("#brightness").on("change", function (event, ui) { ajax_get('set-brightness/' + brightness.value, setBrightness); });
</script>